<!-- 4. Phần miễn phí vận chuyển  -->
<div class="container my-4" style="font-size: 14px;">
    <ul class="list-unstyled">
        <li class="d-flex align-items-start mb-2 ps-5">
            <i class="bi bi-truck fs-5 me-2 text-primary"></i>
            <span>MIỄN PHÍ VẬN CHUYỂN NỘI THÀNH 1 - 2 ngày</span>
        </li>
        <li class="d-flex align-items-start mb-2 ps-5">
            <i class="bi bi-clock fs-5 me-2 text-primary"></i>
            <span>Giao hàng nhanh nội thành trong ngày</span>
        </li>
        <li class="d-flex align-items-start mb-2 ps-5">
            <i class="bi bi-telephone fs-5 me-2 text-primary"></i>
            <span>0969 335 335 - HOTLINE đặt hàng nhanh (8h30 – 21h)</span>
        </li>
        <li class="d-flex align-items-start mb-2 ps-5">
            <i class="bi bi-credit-card fs-5 me-2 text-primary"></i>
            <span>Thanh toán tiện lợi với nhiều hình thức</span>
        </li>
        <li class="d-flex align-items-start mb-2 ps-5">
            <i class="bi bi-arrow-repeat fs-5 me-2 text-primary"></i>
            <span>Đổi sản phẩm trong vòng 7 ngày</span>
        </li>
    </ul>
</div>

<!-- 5. Mở đóng cho giày -->
<div class="accordion mx-auto" id="accordionExample" style="max-width: 800px; font-size: 14px;">
    <!-- Item 1 -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Bảng đo size giày
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p> Giày Hồng Thạnh xin hướng dẫn bạn cách chọn size giày phù hợp để lựa chọn được một đôi giày ưng
                    ý.</p>
                <ul>

                    <li>
                        Đo cả chiều dài 2 bàn chân vì kích thước của 2 bàn chân sẽ chênh nhau một chút, do đó bạn sẽ
                        lấy
                        kích thước của bàn chân to hơn và có thể sử dụng miếng lót gót giày hoặc lót mũi giày bên
                        bàn
                        chân nhỏ hơn.
                    </li>
                    <li>
                        Hình dáng đôi giày & chân: đối với giày mũi nhọn bạn nên chọn 1 size lớn hơn size giày bạn
                        hay
                        đi để trừ hao phần mũi giày. Đối với bàn chân có bề ngang hoặc có bề dày, bạn nên chọn giày
                        mũi
                        tròn hoặc mũi rộng để chân được thoải mái hoặc chọn lớn hơn 1 size so với bảng size trên.
                    </li>
                </ul>
                <img src="assets/img/slidebar/Bảng size giày 2025.jpg" class="img-fluid" alt="Bảng size">
            </div>
        </div>
    </div>

    <!-- Item 2 -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Chính sách giao nhận
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol>
                    <li>ĐỐI TƯỢNG ÁP DỤNG</li>
                </ol>
                <ul>
                    <li>
                        Chính sách giao nhận của Hồng Thạnh áp dụng cho quý khách mua trên kênh Online ( Bao gồm :
                        Facebook, Zalo, Website và gọi số Hotline (028) 38.355.790 hoặc 0969.335.335.)
                    </li>
                </ul>
                <ol start="2">
                    <li>PHÍ VẬN CHUYỂN VÀ THỜI GIAN GIAO HÀNG </li>
                </ol>
                <ul>
                    <li> KHU VỰCTHÀNH PHỐ HỒ CHÍ MINH </li>
                    <li> Dịch vụ giao hàng tiêu chuẩn: </li>
                    <li>Thời gian giao hàng : giao từ 1-2 ngày kể từ khi nhân viên gọi xác nhận đơn hàng. </li>
                    <li> Phí vận chuyển: MIỄN PHÍ </li>
                    <li>Dịch vụ giao hàng hỏa tốc trong ngày: </li>
                    <li> Thời gian nhận và giao hàng : nhận đơn trước 16h hằng ngày và giao trong vòng 3-4 giờ kể từ
                        lúc xác nhận đơn hàng.
                    </li>
                    <li> Phí vận chuyển:</li>

                    <!-- box phí vận chuyển -->
                    <div class="container my-4">
                        <div class="table-responsive">
                            <table class="table table-bordered border-dark">
                                <thead class="table-light">
                                    <tr>
                                        <th></th>
                                        <th>Nội Thành</th>
                                        <th>Ngoại Thành 1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Khu Vực</th>
                                        <td>Q.1, Q.2, Q.3, Q.4, Q.5, Q.6, Q.8, Q.10, Q.11</td>
                                        <td>Q.7, Q.9, Q.12, Q.Thủ Đức, Q.Bình Tân</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Thời gian giao hàng</th>
                                        <td>Dự kiến giao trong 3 giờ</td>
                                        <td>Dự kiến giao trong 4 giờ</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phí giao hàng</th>
                                        <td>30.000 VND</td>
                                        <td>40.000 VND</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ul>

                <p>Lưu ý: Dịch vụ giao hàng hỏa tốc chỉ áp dụng với các đơn hàng có trong các khu vực trên và phí
                    dịch vụ có thể tăng vào các ngày t7, CN và ngày lễ, tết hoặc các giờ cao điểm.</p>
                <ul>
                    <li>KHU VỰC CÁC TỈNH THÀNH NGOÀI KHU VỰC TP.HCM </li>
                    <li> Thời gian giao hàng: giao hàng từ 3-5 ngày kể từ ngày nhân viên gọi xác nhận đơn hàng.</li>
                    <li> Phí vận chuyển : phí đồng giá 35.000 VND áp dụng cho đơn hàng dưới 1000 gram, phí áp dụng
                        cho tất cả các tỉnh thành trên toàn quốc, đơn trên 1000 gram sẽ tăng tùy theo trọng lượng
                        của kiện hàng.</li>
                </ul>
                <ol start="3">NHỮNG LƯU Ý KHI NHẬN HÀNG</ol>
                <p>
                    – Quý khách hàng vui lòng kiểm tra sản phẩm trước khi thanh toán cho nhân viên giao hàng. (Lưu
                    ý: quý khách chỉ được xem hàng không thử sản phẩm, áp dụng đối với dịch vụ giao hàng tiêu chuẩn)
                    <br><br>
                    – Quý khách hàng vui lòng kiểm tra sản phẩm ngay tại chỗ sau khi thanh toán cho nhân viên giao
                    hàng (Lưu ý: đối với dịch vụ hỏa tốc trong ngày, quý khách không được xem và thử sản phẩm trước
                    khi thanh toán).
                    <br><br>
                    – Khi sản phẩm được giao tới, sản phẩm phải còn nguyên đai, nguyên kiện, còn niêm phong, chưa có
                    dấu hiệu bóc mở… đầy đủ chứng từ của Hồng Thạnh. Dịch vụ vận chuyển của Hồng Thạnh sẽ chịu trách
                    nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận
                    chuyển hàng từ kho hàng đến khách hàng, nếu khách hàng thấy bất thường có thể từ chối nhận hàng
                    và liên hệ ngay Bộ phận chăm sóc khách hàng của Hồng Thạnh qua <span class="fw-medium">hotline
                        0969 335 335</span> hoặc
                    <a href="http://m.me/giayhongthanh" class="text-success">http://m.me/giayhongthanh</a> để được
                    xử lý ngay.
                    <br><br>
                    – Trong trường hợp giao hàng quá ngày theo dự kiến, Quý khách vui lòng liên hệ ngay Bộ phận chăm
                    sóc khách hàng của Hồng Thạnh qua <span class="fw-medium">hotline
                        0969 335 335</span> hoặc <a href="http://m.me/giayhongthanh"
                        class="text-success">http://m.me/giayhongthanh</a> để đươc
                    kiểm tra và xử lý đơn hàng nhanh nhất.
                </p>
            </div>

        </div>
    </div>

    <!-- Item 3 -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Chính sách bảo hành/đổi sản phẩm
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p class="text-decoration-underline fw-medium">NỘI DUNG BẢO HÀNH</p>
                <p>Thời gian bảo hành:</p>
                <ul>
                    <li>12 tháng đối với sản phẩm giả da và 24 tháng đối với sản phẩm da thật.</li>
                </ul>
                <p>Sản phẩm được bảo hành miễn phí trong các trường hợp hở keo, sứt chỉ.</p>
                <p>Cửa hàng không nhận sửa những đôi giày dép quá cũ (da và đế bị lão hóa, không còn độ bám của keo
                    và chỉ). Sản phẩm không bảo hành trong những trường hợp do lỗi của quý khách gây ra:
                    Đế bị trầy sướt, nóng chảy, thú vật cắn</p>
                <p>Cửa hàng sẽ tính phí khi quý khách có những nhu cầu sau:</p>
                <ul>
                    <li>Dán đế, thay đế, thay mặt lót</li>
                    <li>Thay quai, thay phụ kiện khi sản phẩm vẫn còn sản xuất.</li>
                </ul>
                <p> Thời gian sửa chữa từ 5 – 15 ngày (tùy mức độ) </p>
                <p class="text-decoration-underline fw-medium"> CHÍNH SÁCH ĐỔI SẢN PHẨM TẠI CỬA HÀNG </p>

                <p>
                    Quý khách vui lòng đổi hàng trong vòng 7 ngày sau khi mua và sản phẩm phải chưa qua sử dụng, còn
                    nguyên tem mác.
                    <br><br>
                    Cửa hàng không nhận đổi, trả dây nịt, bóp ví.
                    <br><br>
                    Quý khách vui lòng đổi hàng ở cửa hàng đã mua cùng với phiếu mua hàng/bảo hành.
                    <br><br>
                    Cửa hàng không hoàn tiền cho sản phẩm đổi có giá trị thấp hơn.
                </p>
                <p class="text-decoration-underline fw-medium"> CHÍNH SÁCH ĐỔI HÀNG MUA ONLINE </p>

                <p>
                    <i>
                        Trong trường hợp quý khách muốn đổi size, màu hoặc kiểu mẫu, vui lòng đổi sản phẩm trực tiếp
                        tại
                        cửa hàng 644 Nguyễn Đình Chiểu, P.3, Q.3; hoặc gửi bưu điện về địa chỉ sau:
                        <br><br>
                        Bộ phận bán hàng ONLINE – 028 3835 5790 | 0969 335 335
                        <br><br>
                        644 Nguyễn Đình Chiểu P.3, Q.3 TP.HCM
                    </i>

                    <br><br>
                    Trong trường hợp cửa hàng gửi không đúng size/màu/kiểu quý khách đã đặt hoặc sản phẩm bị lỗi do
                    cửa hàng, cửa hàng sẽ chịu phí ship đổi hàng của quý khách.
                    <br><br>
                    Thời gian đổi hàng trong vòng 7 ngày sau khi quý khách nhận được sản phẩm.
                    <br><br>
                    Nếu cần đổi size/màu tại nhà, quý khách vui lòng liên hệ Hotline/Zalo 0969 335 335 để được hỗ
                    trợ đổi trực tiếp tại nhà theo khung giá dịch vụ của đơn vị giao nhận.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- . Hỗ trợ liên hệ -->
<div class="container my-4" style="font-size: 14px;">
    <p class="ps-5">
        Để được hỗ trợ vui lòng liên hệ 0969 335 335</p>
</div>